{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Galeria{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
  <script src="{% static 'core/js/script.js' %}" defer></script>
</head>
<body>
  <header>
    <h1>Galeria Vicent Van Gogh</h1>
    <nav>
      <a href="{% url 'index' %}">Todas</a>
      <a href="{% url 'criar_imagem' %}"> + Adicionar Imagem</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
