{% extends "core/base.html" %}
{% load static %}
{% block title %}Galeria Vicent Van Gogh{% endblock %}
{% block content %}

  <form method="get" id="filtro-form">
    <label for="genero">Filtrar por gênero:</label>
    <select name="genero" id="genero" onchange="document.getElementById('filtro-form').submit();">
      <option value="">Todos</option>
      {% for gen in generos %}
        <option value="{{ gen.id }}" {% if gen.id|stringformat:"s" == request.GET.genero %}selected{% endif %}>
          {{ gen.nome }}
        </option>
      {% endfor %}
    </select>
  </form>

 
  <div class="galeria">
    {% for obra in obras %}
    <a href="{% url 'detalhe_imagem' obra.id %}">
      <div class="item">
        <img src="{{ obra.imagem.url }}" alt="{{ obra.titulo }}" 
             class="hover-img" onclick="abrirModal('{{ obra.imagem.url }}')">
        <p><strong>{{ obra.titulo }}</strong></p>
        <small>{{ obra.genero.nome }}</small>
      </div>
    </a>
    {% empty %}
      <p>Nenhuma obra cadastrada.</p>
    {% endfor %}
  </div>

 
  <div id="modal" class="modal" onclick="fecharModal()">
    <span class="close" onclick="fecharModal()">&times;</span>
    <img id="modal-img" class="modal-content">
  </div>
{% endblock %}
