/* ---------- Estilo geral ---------- */
body.background { 
  font-family: "Montserrat", Tahoma, sans-serif; 
  margin: 0;
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.2)),
    url("../img/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}


header {
  background: #0a3058;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  margin: 0;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

nav a:hover {
  color: rgb(199, 169, 0);
}


main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  
}

/* ---------- Filtro ---------- */
form#filtro-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

form#filtro-form label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  margin: 0;
}

form#filtro-form select {
  padding: 4px 10px;
  border-radius: 6px;
  background: #cec0a6; 
  border: 1px solid #ccc;
  font-size: 1.0rem;
  cursor: pointer;

}

/* ---------- Galeria ---------- */
.galeria { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 20px; 
}

.item { 
  background: #cec0a6; 
  padding: 10px; 
  border-radius: 12px; 
  text-align: center; 
  height: 280px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(3, 226, 246, 0.451);
  transition: transform 0.3s ease;
}

.item:hover {
  box-shadow: 0 4px 12px rgb(3, 226, 246);
  transform: translateY(-5px);
  transform: scale(1.1);
  background-color: rgb(199, 169, 0);
}

.hover-img { 
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px; 
  transition: transform .25s ease;
  cursor: pointer; 
}

.item p {
  margin: 10px 0 4px;
  font-weight: bold;
}

.item small {
  color: #666;
}

/* ---------- Modal ---------- */
.modal { 
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0,0,0,0.9); 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  padding: 20px;
}

.modal-content { 
  max-width: 90%; 
  max-height: 90vh; 
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.close { 
  position: absolute; 
  top: 50px; 
  right: 60px; 
  font-size: 60px; 
  font-weight: bold;
  color: #fff; 
  cursor: pointer; 
  transition: color 0.2s;
}

.close:hover {
  color: #ddd;
}
